@charset 'urf-8';

html {
	width: 100%;
	background-color: #505765;
	background-image: url('images/background.jpg');
}

body {
	margin: 0;
	font-size: 15px;
	font-family: 'Ubuntu', 'Trebuchet MS';
}

.page_wrapper {
	margin: auto;
	min-width: 1000px;
	max-width: 1200px;
}
.page {
	margin: 0 21px;
	background-color: #fff;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
}

.button {
	padding: 7px 26px 8px;
	border: none;
	border-radius: 4px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(78, 58, 60, .6);
	font-size: 17px;
	cursor: pointer;
}
.button:focus { outline: none; }

.link {
	color: #4474be;
	text-decoration: none;
	border-bottom: 1px solid;
}
.link { border-bottom-color: transparent; }
.link_local { border-bottom-style: dotted; }

.header {
	height: 62px;
	background: rgb(60,63,77);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,63,77,1)), color-stop(100%,rgba(32,35,49,1)));
	background: -webkit-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background:    -moz-linear-gradient(top,  rgba(60,63,77,1) 0%, rgba(32,35,49,1) 100%);
	background:     -ms-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background:      -o-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background: linear-gradient(to bottom,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3f4d', endColorstr='#202331',GradientType=0 );
}
.header .link {
	display: inline-block;
	padding: 8px 0;
	margin-left: 27px;
}
.logo__image {}

.personal {
	float: right;
	margin: 0 30px 0 0;
	padding: 11px 0;
}
.personal__signin-button {
	background: rgb(99,103,124);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(99,103,124,1)), color-stop(100%,rgba(77,80,97,1)));
	background: -webkit-linear-gradient(top, rgba(99,103,124,1) 0,rgba(77,80,97,1) 100%);
	background:    -moz-linear-gradient(top, rgba(99,103,124,1) 0, rgba(77,80,97,1) 100%);
	background:     -ms-linear-gradient(top, rgba(99,103,124,1) 0,rgba(77,80,97,1) 100%);
	background:      -o-linear-gradient(top, rgba(99,103,124,1) 0,rgba(77,80,97,1) 100%);
	background:         linear-gradient(to bottom, rgba(99,103,124,1) 0,rgba(77,80,97,1) 100%);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .25);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63677c', endColorstr='#4d5061',GradientType=0);
}
.personal__signin-button:active {
	padding: 8px 26px 7px;
	background: rgb(77,80,97);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,80,97,1)), color-stop(100%,rgba(99,103,124,1)));
	background: -webkit-linear-gradient(top, rgba(77,80,97,1) 0%,rgba(99,103,124,1) 100%);
	background:    -moz-linear-gradient(top, rgba(77,80,97,1) 0%, rgba(99,103,124,1) 100%);
	background:     -ms-linear-gradient(top, rgba(77,80,97,1) 0%,rgba(99,103,124,1) 100%);
	background:      -o-linear-gradient(top, rgba(77,80,97,1) 0%,rgba(99,103,124,1) 100%);
	background:         linear-gradient(to bottom, rgba(77,80,97,1) 0%,rgba(99,103,124,1) 100%);
	box-shadow: 0 0 1px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5061', endColorstr='#63677c',GradientType=0);
}

.breadcrumbs {
	background-image: url('images/breadcrumbs__item_disable.png');
	background-position: top left;
	background-repeat: repeat-x;
}
.breadcrumbs__item {
	position: relative;
	display: inline-block;
	padding: 0 10px 0 22px;
	background-image: url('images/breadcrumbs__item.png');
	background-position: top left;
	background-repeat: repeat-x;
	color: #ececec;
	vertical-align: top;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.breadcrumbs__item ~ .breadcrumbs__item {
	margin: 0 0 0 22px;
	padding: 0 40px 0 20px;
}
.breadcrumbs__item ~ .breadcrumbs__item:before {
	position: absolute;
	top: 0;
	left: -20px;
	z-index: 1;
	content: url('images/breadcrumbs__item_before.png');
}
.breadcrumbs__item_current ~ .breadcrumbs__item:before { display: none; }
.breadcrumbs__item:after {
	position: absolute;
	top: 0;
	right: -20px;
	z-index: 1;
	content: url('images/breadcrumbs__item_after.png');
}
.breadcrumbs__link {
	display: block;
	margin: 14px 0 17px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	font-size: 17px;
}
.breadcrumbs__link.link {
	margin: 13px 0 17px;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	color: inherit;
	text-decoration: none;
}
.breadcrumbs__item_current {
	background-image: url('images/breadcrumbs__item_current.png');
}
.breadcrumbs__item_current:after {
	position: absolute;
	top: 0;
	right: -20px;
	z-index: 1;
	content: url('images/breadcrumbs__item_current_after.png');
}
.breadcrumbs__item ~ .breadcrumbs__item_current:before {
	position: absolute;
	top: 0;
	left: -20px;
	z-index: 1;
	content: url('images/breadcrumbs__item_current_before.png');
}
.breadcrumbs__item_disable {
	background-image: url('images/breadcrumbs__item_disable.png');
}
.breadcrumbs__item_disable:after {
	position: absolute;
	top: 0;
	right: -23px;
	z-index: 1;
	content: url('images/breadcrumbs__item_disable_after.png');
}

.text {
	margin: 0 200px;
	padding: 29px 0 0;
	color: #161616;
}
.header-h1 {
	margin: 0 0 7px;
	font-size: 33px;
	line-height: 33px;
}
.tagline {
	margin: 0;
	font-size: 17px;
	line-height: 100%;
}

.title-item {
	margin: 31px 0 12px;
	font-size: 29px;
	color: #8a8a8a;
	line-height: 100%;
}
.title-item:before {
	margin: 0 30px 0 -57px;
	vertical-align: middle;
	content: url('images/title-item.png')
}

.classmates {
	margin: 34px -30px;
	padding: 16px 30px;
	border-radius: 6px;
	background-color: #faf6d8;
	background-image: url('images/classmates-background.jpg');
}
.classmates__title {
	color: #53534b;
	font-size: 23px;
}
.classmates-list {}
.classmates__result {
	margin: 10px 0px 4px;
	min-height: 11px;
}
.classmates__result_error {}
.classmates__result_loading {
	background-image: url('images/loader.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.classmates__more {
	display: inline-block;
	border-bottom-color: #4474be;
	cursor: pointer;
}
.classmates__item {
	position: relative;
	display: inline-block;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	margin: 0 8px 6px 0;
	padding: 2px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
}
.classmates__item_hover { background-color: #46ca39; }
.classmates__item_active {
	background-color: #4474be;
	margin: -2px 6px 4px -2px;
	padding: 4px;
}
.classmates__icon {
	display: block;
	width: 40px;
	height: 40px;
}
.classmates__label {
	position: absolute;
	top: -40px;
	left: -4px;
	z-index: -1;
	padding: 3px 6px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	font-size: 12px;
	line-height: 15px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	    -ms-transition: opacity .3s;
	     -o-transition: opacity .3s;
	        transition: opacity .3s;
}
.classmates__item_hover .classmates__label {
	z-index: 1;
	opacity: 1;
}
.classmates__caption {}

.calendars {}
.calendars__title {}
.calendars-list {}
.calendar__label {}
.calendar__radio { display: none; }
.calendar__face {
	position: relative;
	display: inline-block;
	margin: 0 30px 0 0;
	padding: 15px 0 0;
	width: 170px;
	height: 100px;
	border-radius: 4px;
	background-color: #fcfcfc;
	background-image: url('images/gray.jpg');
	color: #303030;
	text-align: center;
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
	    -ms-transition: opacity .2s;
	     -o-transition: opacity .2s;
	        transition: opacity .2s;
	opacity: .5;
	cursor: pointer;
}
.calendar__date {
	font-weight: 500;
	font-size: 17px;
	line-height: 23px;
}
.calendar__day {
	display: inline-block;
	font-size: 15px;
}
.calendar__day:first-letter { text-transform: uppercase; }
.calendar__day:after { content: '\002c'; }
.calendar__time {}
.calendar__radio:checked + .calendar__face { opacity: 1; }
.calendar__radio:checked + .calendar__face .button_change { display: block; }
.calendar__container {
	position: absolute;
	z-index: 1;
	margin: 5px 5px 0;
	width: 160px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.calendar__container .ic__month { width: 83%; }
.calendar__container .ic__year { display: none; }
.calendar__container .ic__header select { font-weight: normal; }

.restaurants {}
.restaurants__title {}

.restaurant-list {}
.restaurant__radio { display: none; }
.restaurant__face {
	position: relative;
	display: inline-block;
	margin: 0 30px 0 0;
	padding: 15px 0 0;
	width: 170px;
	height: 155px;
	border-radius: 4px;
	background-color: #fcfcfc;
	background-image: url('images/gray.jpg');
	text-align: center;
	opacity: .5;
	cursor: pointer;
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
	    -ms-transition: opacity .2s;
	     -o-transition: opacity .2s;
	        transition: opacity .2s;
}
.restaurant__title {
	line-height: 23px;
	font-size: 17px;
	color: #4474be;
	border-bottom-color: #4474be;
}
.restaurant__table {
	font-size: 15px;
	line-height: 14px;
	line-height: 20px;
}
.restaurant__price {
	display: block;
	margin: 12px 0 4px;
	line-height: 100%;
	font-size: 17px;
	color: #303030;
}
.restaurant__price:after { content: ' руб.' }
.restaurant__unit {
	font-size: 15px;
	line-height: 14px;
}
.restaurant__radio:checked + .restaurant__face { opacity: 1; }
.restaurant__radio:checked + .restaurant__face .button_change { display: block; }

.button_change {
	position: absolute;
	bottom: 15px;
	left: 28px;
	display: none;
	padding: 7px 20px 8px;
	border: 1px solid #5790c8;
	background: rgb(103,156,207);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,156,207,1)), color-stop(100%,rgba(73,129,189,1)));
	background: -webkit-linear-gradient(top, rgba(103,156,207,1) 0%,rgba(73,129,189,1) 100%);
	background:    -moz-linear-gradient(top, rgba(103,156,207,1) 0%, rgba(73,129,189,1) 100%);
	background:     -ms-linear-gradient(top, rgba(103,156,207,1) 0%,rgba(73,129,189,1) 100%);
	background:      -o-linear-gradient(top, rgba(103,156,207,1) 0%,rgba(73,129,189,1) 100%);
	background:         linear-gradient(to bottom, rgba(103,156,207,1) 0%,rgba(73,129,189,1) 100%);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .25),
	            0 1px 5px rgba(0, 0, 0, .4);
	font-size: 15px;
	line-height: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#679ccf', endColorstr='#4981bd',GradientType=0 );
}
.button_change:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(73,129,189,1)), color-stop(0%,rgba(103,156,207,1)));
	background: -webkit-linear-gradient(top, rgba(73,129,189,1) 100%, rgba(103,156,207,1) 0%);
	background:    -moz-linear-gradient(top, rgba(73,129,189,1) 100%, rgba(103,156,207,1) 0%);
	background:     -ms-linear-gradient(top, rgba(73,129,189,1) 100%, rgba(103,156,207,1) 0%);
	background:      -o-linear-gradient(top, rgba(73,129,189,1) 100%, rgba(103,156,207,1) 0%);
	background:         linear-gradient(to bottom, rgba(73,129,189,1) 100%, rgba(103,156,207,1) 0%);
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .1),
	            inset 0 -1px 0 0 rgba(255, 255, 255, .1),
	            0 1px 2px rgba(0, 0, 0, .4);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4981bd', endColorstr='#679ccf',GradientType=0 );
}

.editinplace__wrapper { line-height: 33px; }
.editinplace__input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 3px 10px;
	width: 140px;
	border: 1px solid;
	color: #303030;
	text-align: left;
	font-size: 17px;
	line-height: 100%;
}
.editinplace__input:valid { border-color: #4474be; }
.editinplace__input:invalid { border-color: #f00; }
.editinplace__input:focus { outline: none; }

.next-step {
	position: relative;
	margin: 105px 0 0;
	height: 152px;
	background-color: #faf6d8;
	background-image: url('images/classmates-background.jpg');
}
.next-step__botton {
	margin: 19px 0 0;
	position: relative;
	display: inline-block;
	padding: 0 10px 0 26px;
	height: 58px;
	background-image: url('images/next-step__botton.png');
	background-position: -27px 0;
	color: #fff;
	vertical-align: middle;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(78, 58, 60, .6);
	font-size: 19px;
	line-height: 55px;
	cursor: pointer;
}
.next-step__botton:after {
	position: absolute;
	top: 0;
	right: -27px;
	bottom: 0;
	width: 27px;
	background-image: url('images/next-step__botton.png');
	content: '';
}

.overpayment {
	position: absolute;
	top: -79px;
	right: 188px;
	padding: 30px 0 0;
	width: 222px;
	height: 222px;
	background-image: url('images/overpayment.png');
}
.overpayment p {
	margin: 13px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	font-size: 15px;
	line-height: 20px;
}

.footer {
	position: relative;
	padding: 30px 29px;
	background: rgb(60,63,77);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,63,77,1)), color-stop(100%,rgba(32,35,49,1)));
	background: -webkit-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background:    -moz-linear-gradient(top,  rgba(60,63,77,1) 0%, rgba(32,35,49,1) 100%);
	background:     -ms-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background:      -o-linear-gradient(top,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	background: linear-gradient(to bottom,  rgba(60,63,77,1) 0%,rgba(32,35,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3f4d', endColorstr='#202331',GradientType=0 );
}

.sitemap {
	overflow: hidden;
	margin: 0 0 40px;
}
.sitemap-list {
	float: left;
	margin: 0 -100% 0 0;
	padding: 0;
	list-style-type: none;
}
.sitemap-list .link {
	border-bottom-color: #73757f;
	color: #dbdbdb;
	line-height: 24px;
}
.sitemap-list + .sitemap-list { margin-left: 270px; }

.copyright {
	position: absolute;
	top: 29px;
	right: 95px;
	color: #dbdbdb;
	font-size: 15px;
	line-height: 24px;
}
.copyright__img { display: block; }

.ingenius {
	position: absolute;
	top: 132px;
	right: 135px;
	width: 135px;
	color: #808188;
	font-size: 13px;
	line-height: 16px;
}
.ingenius .b-link { display: block; }
.ingenius__img {
	float: right;
	margin: -55px -96px 0 -100%;
}
